List

In [6]:
list1 = [1, 3, 4, 5] #integer list
list2 = [2.5, 4.6, 6.7] #float
list3 = ["Mango", "Apple", "Banana", "Peach"]
list4 = [1, "Mango", 4.5, "Apple", ["Milk", "Butter", "Honey"]]
print(len(list4))

5

In [7]:
for i in list4: #i will store elements in itself one by one
    print(i)

1
Mango
4.5
Apple
['Milk', 'Butter', 'Honey']

In [13]:
print(list4)
print(list4[3]) #this will giev the 4th element
print(list4[:-2])
print(list4[4])
print(list4[4][0]) #this will give the 1st element of sub list

[1, 'Mango', 4.5, 'Apple', ['Milk', 'Butter', 'Honey']]
Apple
[1, 'Mango', 4.5]
['Milk', 'Butter', 'Honey']
Milk

In [20]:
list4 = [1, "Mango", 4.5, "Apple", ["Milk", "Butter", "Honey"]]
print(list4)
list4.append("Peach") #this will add the element at the end of the list
print(list4)
list4.insert(1,"Kiwi") #this will add the element at 2nd position or at 1st index
print(list4)
list3 = ["Lenevo" , "Samsung", "Dell"]
list4.extend(list3) #this will add the elements of list3 at the end of list4
print(list4)

[1, 'Mango', 4.5, 'Apple', ['Milk', 'Butter', 'Honey']]
[1, 'Mango', 4.5, 'Apple', ['Milk', 'Butter', 'Honey'], 'Peach']
[1, 'Kiwi', 'Mango', 4.5, 'Apple', ['Milk', 'Butter', 'Honey'], 'Peach']
[1, 'Kiwi', 'Mango', 4.5, 'Apple', ['Milk', 'Butter', 'Honey'], 'Peach', 'Lenevo', 'Samsung', 'Dell']

In [26]:
list1 = ["Mango", "Apple", "Kiwi", "Banana"]
print(list1)
#list2 = list1 #this works on the memory address i.e, it'll never allocate a new memory address to a new list if we use = 
list2 = list1.copy()#this will create a separate memory address for list2
print(list2)
#list2.extend("Orange") #if we use extend to add any element it will add it by element by element
list2.append("Orange")
print(list2)
print(list1)

['Mango', 'Apple', 'Kiwi', 'Banana']
['Mango', 'Apple', 'Kiwi', 'Banana']
['Mango', 'Apple', 'Kiwi', 'Banana', 'Orange']
['Mango', 'Apple', 'Kiwi', 'Banana']

In [28]:
print(list2)
list2.clear() #this will delete all the elements of the list but will still have some space in the memory
print(list2)

['Mango', 'Apple', 'Kiwi', 'Banana', 'Orange']
[]

In [30]:
list2 = [1, 3, 44, 34, 32, 66, 77, 87,2]
print(list2)
list2.sort()
print(list2)

[1, 3, 44, 34, 32, 66, 77, 87, 2]
[1, 2, 3, 32, 34, 44, 66, 77, 87]

In [35]:
list2 = [1, 3, 44, 34, 32, 66, 77, 87,2]
print(list2)
list2.sort()
list2.reverse()
print(list2)

[1, 3, 44, 34, 32, 66, 77, 87, 2]
[87, 77, 66, 44, 34, 32, 3, 2, 1]

In [38]:
print(list2)
print(f"The index of 66 is =  {list2.index(66)} and the position of 66 is = {list2.index(66) + 1}")

[87, 77, 66, 44, 34, 32, 3, 2, 1]
The index of 66 is =  2 and the position of 66 is = 3

In [41]:
list3 = [1, 1, 1, 1, 3, 3, 3, 3 ,3 , 3, 3, 3, 4, 4, 4 ]
print(f"1 occurs {list3.count(1)} times")

1 occurs 4 times

In [47]:
#list2 = ["Mango", "Banana"]
print(list3)
print(f"The sum of all the elments of list3 is  = {sum(list3)}")
#print(f"The sum of all the elments of list2 is  = {sum(list2)}") will throw error

[1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4]
The sum of all the elments of list3 is  = 40

List Comprehension

In [54]:
#list1 = [ 2, 4, 6, 8, 10, 12, 14, 16, ............, 100 ]
list1 = [ i for i in range(1, 101)]#will give the list of numbers from 1 to 100
list2 = [ i for i in range(1, 101) if i % 2 == 0] #this will give me even numbers from 1 to 100
list3 = [i for i in range(1,101) if i % 3 == 0 if i % 5 == 0]
#print(list1)
#print(list2)
print(list3)

[15, 30, 45, 60, 75, 90]

Tuple

In [56]:
list1 = ["Mango", "Apple", "Kiwi", "Banana"]
print(list1)
list1[2] = "Orange"
print(list1)

['Mango', 'Apple', 'Kiwi', 'Banana']
['Mango', 'Apple', 'Orange', 'Banana']

In [68]:
tup1 = tuple(["Mango", "Apple", "Kiwi", "Banana"]) #this will convert list into tuple
tup2 = ("Mango", "Apple", "Kiwi", "Banana", ["Milk", "Butter", "Honey"])
print(tup1)
print(tup2)
#tup1[2] = "Orange" thiw will throw error
print(type(tup2[4]))
tup2[4][1] = "Oats" #we are changing the element of list not tuple
print(tup2)

('Mango', 'Apple', 'Kiwi', 'Banana')
('Mango', 'Apple', 'Kiwi', 'Banana', ['Milk', 'Butter', 'Honey'])
<class 'list'>
('Mango', 'Apple', 'Kiwi', 'Banana', ['Milk', 'Oats', 'Honey'])

In [80]:
tup1 = ( 12, 14, 12, 15, 16 ,1, 3, 4, 5, 77, 88, 90, 9 )
print(tup1)
print(f"The sum of elements of tuple is = {sum(tup1)}")
print(f"The number of elements in the tuple is = {len(tup1)}")
print(f"Least value in tuple is  = {min(tup1)}")
print(f"Highest value in tuple is  = {max(tup1)}")
tup1 = tuple(sorted(tup1))
print(f"The tuple in sorted manner is = {tup1}")
print(f"The index of 14 is = {tup1.index(14)} and position is {tup1.index(14) + 1}")
print(f"12 occurs {tup1.count(12)} times")

(12, 14, 12, 15, 16, 1, 3, 4, 5, 77, 88, 90, 9)
The sum of elements of tuple is = 346
The number of elements in the tuple is = 13
Least value in tuple is  = 1
Highest value in tuple is  = 90
The tuple in sorted manner is = (1, 3, 4, 5, 9, 12, 12, 14, 15, 16, 77, 88, 90)
The index of 14 is = 7 and position is 8
12 occurs 2 times

Set

In [81]:
set1 = {1, 1, 1, 1, 3, 3, 3, 3 ,3 , 3, 3, 3, 4, 4, 4 } #stores only unique elements
print(set1)

{1, 3, 4}

In [85]:
set2 = {"Mango", "Mango", "Mango", "Apple" ,"Apple", "Banana"}
print(set2)
#print("mango" > "Mango")
#{Mango, Apple}

{'Apple', 'Mango', 'Banana'}

In [88]:
tup1 = ( 12, 14, 12, 15, 16 ,1, 3, 4, 5, 77, 88, 90, 9 )
set2 = set(tup1)
print(set2)

{1, 3, 4, 5, 9, 12, 77, 14, 15, 16, 88, 90}

In [93]:
set2.add("Mango")
#print(set2)
set2.update(["apple","Banana"])
print(set2)

{1, 3, 4, 5, 9, 12, 77, 14, 15, 16, 'Mango', 'apple', 88, 90, 'Banana'}

Dictionary

In [96]:
dict1 = { "A" : "America", "B": "Brazil", "C": "Canada", "D": "Denmark" }
print(dict1["B"])

Brazil

In [98]:
dict1 = { "A" : "America", "B": "Brazil", "C": "Canada", "D": "Denmark" }
for i in dict1: #this will take the key
    print(f"The key is {i} and corresponding value is {dict1[i]}")

The key is A and corresponding value is America
The key is B and corresponding value is Brazil
The key is C and corresponding value is Canada
The key is D and corresponding value is Denmark

In [109]:
dict1 = { "A" : "America", "B": "Brazil", "C": "Canada", "D": "Denmark" }
dict1["D"] = "Dominica" #update the value
print(dict1)
dict1["E"] = "Egypt" #inserting the new value
print(dict1)
dict1["d"] = "Denmark"
print(dict1)

{'A': 'America', 'B': 'Brazil', 'C': 'Canada', 'D': 'Dominica'}
{'A': 'America', 'B': 'Brazil', 'C': 'Canada', 'D': 'Dominica', 'E': 'Egypt'}
{'A': 'America', 'B': 'Brazil', 'C': 'Canada', 'D': 'Dominica', 'E': 'Egypt', 'd': 'Denmark'}

In [110]:
#we will give the key here to pop the element
print(f"popped element is {dict1.pop('A')}")

popped element is America

In [111]:
dict2 = dict1.copy()

In [115]:
dict2.clear()
print(dict2)
print(dict1.get("B"))
dict1.items()

{}
Brazil

dict_items([('B', 'Brazil'), ('C', 'Canada'), ('D', 'Dominica'), ('E', 'Egypt'), ('d', 'Denmark')])